[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
psycopg2 = "*"
python-dotenv = "*"
requests = "*"
authlib = "*"
six = "*"
auth0-python = "*"
flask-auth0 = "*"

[dev-packages]

[requires]
python_version = "3.7"
