<link rel="stylesheet" href="../static/animalposts.css">

<div class="card p-3 mt-2">
	<div class="d-flex justify-content-between align-items-center">
		<div class="user d-flex flex-row align-items-center"> <img src="{{user_avatar}}" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary">{{username}}</small> <small class="font-weight-bold">{{user_text}} </small></span> </div> <small>{{comment_time|humanize}}</small>
	</div>
	<div class="action d-flex justify-content-between mt-2 align-items-center">
		<div class="reply px-4"> 
			{% if comment_user == users_id %}
			<a href="/delete/{{animal_id}}/{{comment_id}}"><small>Remove</small></a> <span class="dots"></span> 
			{% endif %}
			<a data-bs-target="#replyCommentModal{{comment_id}}" href="#replyCommentModal{{comment_id}}" data-bs-toggle="modal"><small>Reply</small></a> <span class="dots"></span> 
			{% if comment_user == users_id %}
			<a data-bs-target="#editCommentModal{{comment_id}}" href="#editCommentModal{{comment_id}}" data-bs-toggle="modal"><small>Edit</small></a>
			{% endif %}
      {% if comment_user != users_id %}
      <!-- <a href="/report/{{animal_id}}/{{comment_id}}"><small>Report</small></a> -->
      <a data-bs-target="#reportCommentModal{{comment_id}}" href="#reportCommentModal{{comment_id}}" data-bs-toggle="modal"><small>Report</small></a>
      {% endif %}
		</div>
		<div class="icons align-items-center"> <i class="fa fa-check-circle-o check-icon text-primary"></i> </div>
	</div>
</div>

<div class="modal fade" id="replyCommentModal{{comment_id}}" tabindex="-1" aria-labelledby="replyCommentModal{{comment_id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="replyCommentModal{{comment_id}}Label">Reply To Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" action="{{ url_for('reply_comment', animal_id=animal_id) }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="reply-message-text" class="col-form-label">Description</label>
              <textarea class="form-control" id="reply-message-text" required name="description">{{username}} said: "{{user_text}}"
              </textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCommentModal{{comment_id}}" tabindex="-1" aria-labelledby="editCommentModal{{comment_id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCommentModal{{comment_id}}Label">Edit To Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" action="{{ url_for('edit_comment', animal_id=animal_id, comment_id=comment_id) }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="edit-message-text" class="col-form-label">Description</label>
              <textarea class="form-control" id="edit-message-text" required name="description">{{user_text}}</textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reportCommentModal{{comment_id}}" tabindex="-1" aria-labelledby="reportCommentModal{{comment_id}}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportCommentModal{{comment_id}}Label">Please explain why you are reporting this comment:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form role="form" action="{{ url_for('report_comment', animal_id=animal_id, comment_id=comment_id) }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="edit-message-text" class="col-form-label">Description</label>
              <textarea class="form-control" id="edit-message-text" required name="description"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <script defer src="/static/comments.js"></script> -->