<table class="pure-table pure-table-horizontal" style="width: 100%">
    <thead>
        <tr>
            <th width="20%">Username</th>
            <th>Questions / Comments / Concerns</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="https://via.placeholder.com/30x30" />
                <small>Wiley</small>
            </td>
            <td>I have a question: Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</td>
        </tr>
        <tr>
            <td>
                <img src="https://via.placeholder.com/30x30" />
                <small>Ray</small>
            </td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
        </tr>
        <tr class="pure-table-odd">
            <td>
                <img src="https://via.placeholder.com/30x30" />
                <small>Daniel</small>
            </td>
            <td>OK</td>
        </tr>
    </tbody>
</table>

<div style="padding-top: 15px;"><button class="pure-button pure-button-primary" style="width: 100%">Make a New Question, Comment, or Concern</button></div>