<div style="float:right">
  <button type="button" class="btn btn-sm btn-outline-secondary favorite-btn"><i class="fas fa-heart" style="color: red"></i>
    16</button>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Tags</th>
      <td>
        <span class="badge bg-primary">needs identification</span>
        <span class="badge bg-secondary">#endangered</span>
        <span class="badge bg-secondary">#bird</span>
      </td>
    </tr>
    <tr>
      <th scope="row">Species</th>
      <td>Small bird thing</td>
    </tr>
    <tr>
      <th scope="row">Range</th>
      <td>North America</td>
    </tr>
    <tr>
      <th scope="row">Classification</th>
      <td>Endangered</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</td>
    </tr>
    <tr>
      <th scope="row">Post Info</th>
      <td>
        <small class="text-muted">Wiley Bui | 9 hours ago</small>
      </td>
    </tr>
  </tbody>
</table>

<div class="btn-group modify-btn">
  <button type="button" class="btn btn-sm btn-outline-primary modify-btn">Edit</button>
  <button type="button" class="btn btn-sm btn-outline-primary modify-btn" data-toggle="modal" data-target="#exampleModalCenter">Delete</button>
</div>