<div class="col">
  <div class="card shadow-sm">
    <img src="{{ post_image }}" />

    <div class="card-body">
      <div>
        {% for i in range(post_tags.split("; ")|length) %}   
            <span class="badge bg-{{ post_tags_color.split('; ')[i] }}">{{ post_tags.split("; ")[i] }}</span>
        {% endfor %}
      </div>
      <p class="card-text">{{ post_text }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">{{ username }}</small>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-heart"></i>
            0</button>
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href = '/post/{{ post_id }}';">View</button>
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
        </div>
      </div>
    </div>
  </div>
</div>