<div class="col">
  <div class="card shadow-sm">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvrc1TUmn85Q_TE0Kssmygjb4w9YMaG2EMhg&usqp=CAU" />

    <div class="card-body">
      <p class="card-text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
        industries for previewing layouts and visual mockups.</p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">Wiley Bui | 9 hours ago</small>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-heart"></i>
            16</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>