body {
    background: linear-gradient(to bottom, #f8f9fa, #bef4f8);
    background-attachment: fixed;
}
/* body {
    background: url(images/camping.svg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-position: center bottom;
} */

/* body {
    background: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center top;
} */


/* body {
    background: url(images/Mountain_Flatline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200vw 200vh;
    background-attachment: fixed;
} */


.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}

.require-padding-top-5 {
    padding-top: 5%;
}

.margin-top-header {
    margin-top: 9vh;
}

#loginForm{
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
}

#purePass{
    display: block;
    width: 100px;
    text-align: center;
    align-content: center;
    align-items: center;
}