body {
    background: linear-gradient(to bottom, #f8f9fa, #bef4f8);
    background-attachment: fixed;
}

img {
    object-fit: cover;
    float: center;
    max-height: 30vh;
}

body {
    padding-top: 50px;
}

.inline {
    display: inline-block;
}

.form-height {
    /* height: 40px; */
    width: 100%;
}

.search-btn-padding {
    padding: 11px 0;
}
