body {
    background: linear-gradient(to bottom, #f8f9fa, #bef4f8);
    background-attachment: fixed;
}

#ignore-header-nav {
    padding-top: 8vh;
}

.carousel-item {
    height: 60vh !important;
}

#big-container {
    box-shadow: 0 0 3px #6783A9;
    background: white;
    /* background: #F2F2F5; */
    padding: 2%;
}

#carouselIndicators {
    background: #212529;
}

.favorite-btn {
    width: 75px;
}

.modify-btn {
    width: 100%;
}

tr td:nth-child(2) {
    font-size: .875em;
}

.center-contents {
    text-align: center;
}

.padding-bottom {
    padding-bottom: 3vh;
}

hr {
    margin: 3.5em 0;
}