{% extends "parent.html" %}

{% block css_and_js_contents %}
  <link rel="stylesheet" href="static/page_animal_look_up.css">
{% endblock %}

{% block title %}Lookup{% endblock %}

{% block contents %}
  <div id="ignore-header-nav"></div>
  <div class="py-5">
    <div class="container" id="big-container">
      <div class="padding-bottom">
        <h1>Small Bird Thing</h1>
      </div>
      <div class="row">
        <div class="col-md-5 order-md-1">
          {% include "helper_html/animal_look_up_carousel.html" %}
        </div>
        <div class="col-md-7 order-md-2">
          {% include "helper_html/animal_look_up_info.html" %}
        </div>
      </div>

      <hr>

      <div class="container">
        <div class="center-contents">
          <img src="../static/images/searching.svg" width="20%" />
          <h3>Recent Sightings</h3>
          <br />
          <img src="../static/images/recent_sightings.png" width="50%" />

          <div style="padding-top: 15px;"><button class="pure-button pure-button-primary" style="width: 50%">Add a
              new sighting</button></div>
        </div>
      </div>
      
      <hr>
      <div class="container">
        <div class="center-contents">
          <img src="../static/images/QandA.svg" width="25%;" />
          <h3>Comments</h3>
          <br />
        </div>
        {% include "helper_html/animal_look_up_q_and_a.html" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block bottom_js_contents %}
  <script src="https://kit.fontawesome.com/90c7863ad5.js" crossorigin="anonymous"></script>
{% endblock %}