<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
  <a class="pure-menu-heading" href="{{ url_for("page_landing") }}">Animal Watch</a>
  <!-- <img src="../static/images/wolf.png" width="3%" /> -->

  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-selected link"><a href="{{ url_for("page_landing") }}"
        class="pure-menu-link">Home</a></li>
    <li class="pure-menu-item link"><a href="{{ url_for("page_feed") }}" class="pure-menu-link">Animal List</a></li>
    <!-- <li class="pure-menu-item link"><a href="#" class="pure-menu-link">Locations</a></li> -->
    <li class="pure-menu-item link"><a href="#" class="pure-menu-link">Sign Up</a></li>
    <li class="pure-menu-item link"><a href="#" class="pure-menu-link">Login</a></li>
  </ul>
</div>