{% extends "parent.html" %}

{% block css_and_js_contents %}
  <link href="/static/main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Member Login Page{% endblock %}

{% block contents %}
  <div id="loginForm">
    <br>
    <br>
    <br>
    
    <form class="pure-form pure-form-stacked" action = "login" method = "POST">
      <fieldset>
          <legend>Please enter your Username and Password</legend>
          <label for="stacked-user">Username</label>
          <input type="text" id="stacked-user" placeholder="Username" required />
          <span class="pure-form-message">This are required fields.</span>
          <label for="stacked-password" id = "purePass">Password</label>
          <input type="password" id="stacked-password" placeholder="Password" required />
          <button type="submit" class="pure-button pure-button-primary">Log in</button>
      </fieldset>
    </form>
  </div>
{% endblock %}