{% extends "parent.html" %}

{% block css_and_js_contents %}
  <link href="/static/main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Member Login Page{% endblock %}

{% block contents %}
  <div id="loginForm">
    <br>
    <br>
    <br>
    
    <form class="pure-form pure-form-stacked" action = "login" method = "POST">
      <fieldset>
          <legend>Please enter your Username and Password</legend>
          <label for="stacked-user">Username</label>
          <input type="text" id="stacked-user" placeholder="Username" required />
          <span class="pure-form-message">This are required fields.</span>
          <label for="stacked-password" id = "purePass">Password</label>
          <input type="password" id="stacked-password" placeholder="Password" required />
          <button type="submit" class="pure-button pure-button-primary">Log in</button>
      </fieldset>
    </form>
  </div>


  <div style = "background:rgb(73, 150, 146)">
    <h3 style = "color:blue">Why do you like this insect?</h3>
    <label for="checkbox-radio-option-one" class="pure-radio">
      <input type="radio" id="checkbox-radio-option-one" name="optionsRadios" value="It can fly!" checked=""  /> It can fly!</label>
    <label for="checkbox-radio-option-two" class="pure-radio">
      <input type="radio" id="checkbox-radio-option-two" name="optionsRadios" value="It is a fun color." /> It is a fun color.</label>
    <label for="checkbox-radio-option-three" class="pure-radio">
      <input type="radio" id="checkbox-radio-option-three" name="optionsRadios" value="It is important to ecosystems." /> It is important to ecosystems.</label>
  </div>
{% endblock %}